<nav class="navbar">
  <div class="container navbar-flex">
    <a href="#" class="nav-logo d-inline-block">
      <img src="../assets/images/logo-white.png" alt="logo-white"
    /></a>
    <menu>
      <ul class="menubar">
        <li class="menubar-item">
          <a href="#" class="menubar-item-link">系列鏡框</a>
        </li>
        <li class="menubar-item">
          <a href="retailStore.html" class="menubar-item-link">門市據點</a>
        </li>
        <li class="menubar-item">
          <a href="#" class="menubar-item-link">部落格</a>
        </li>
        <li class="menubar-item">
          <a href="faq.html" class="menubar-item-link">常見問題</a>
        </li>
      </ul>
    </menu>
  </div>
</nav>
